<div class="signup-form text-center">
	<h1> Sign up </h1>
	<hr />
	<form class="form" method="post">
		<input type="text" name="name" placeholder="Name" class="input input-block-level"/>
		<input type="email" name="email" placeholder="Email" class="input input-block-level"/>
		<input type="password" name="password" placeholder="Password" class="input input-block-level">
		<label>Account Type</label>
		<input type="radio" name="account" value="expert" />
		Expert
		<input type="radio" name="account" value="member" />
		Member
		<br>
		<br>
		<input type="submit" class="btn btn-success btn-block" value="Sign up">
	</form>
</div>
