<% provide(:title, 'Home') %>
<div class="hero-unit">
	<h1>Connecting businesses with experts.</h1>
	<p>
		Pracly bridges the gap between the businesses and experts in a unique and better way.
	</p>
	<p>
		<a class="btn btn-primary btn-large signup-button" href="<%= signup_path %>"> Sign up </a>
	</p>
</div>