@import "bootstrap";
.container{
  width:100% !important;
  max-width:980px !important;
}
.clear{
  margin:40px 0;
  display:block;
  clear:both;
}
body{
  background:#7C72E9 url(bg.png)repeat center center;
}
.hero-unit{
  background:#fff;
  margin-top:60px;
}
//Sign up form
.signup-button{
  padding-left:50px;
  padding-right:50px;
}
.signup-form{
  max-width:300px;
  background:#fff;
  border:solid 1px #ddd;
  border-radius:3px;
  margin:auto;
  margin-top:60px;
  margin-bottom:20px;
  padding:20px;
}
.signup-form .input{
  height:40px;
}
.signup-form .btn{
  height:40px;
  line-height:20px;
}