<div class="header">
	<div class="clear"></div>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="<%= root_path %>" class="brand"><%= page_title() %></a>
				<ul class="nav pull-right">
					<li>
						<a href="<%= root_path %>">Home</a>
					</li>
					<li>
						<a href="<%= about_path %>">About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>